<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>116617762333-12q10qnugtt3a4rpr7hafucblk022olq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.116617762333-12q10qnugtt3a4rpr7hafucblk022olq</string>
	<key>API_KEY</key>
	<string>AIzaSyCB8S1mXwTN0hsxNbsq23U0uTaxCe0bSok</string>
	<key>GCM_SENDER_ID</key>
	<string>116617762333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zoomClone</string>
	<key>PROJECT_ID</key>
	<string>zoom-clone-8179b</string>
	<key>STORAGE_BUCKET</key>
	<string>zoom-clone-8179b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116617762333:ios:58d0614d0bd41c5629d8f4</string>
</dict>
</plist>